@charset "UTF-8";

#header {
  position: relative;
  width: 840px;
  height: 324px;
  margin: 0 auto;
  padding-top: 8px;
  background-color: aqua;
}

#header h1 {
  position: absolute;
  top: 8px;
  left: -23px;
  z-index: 20;
}

#global-nav {
  position: absolute;
  top: 279px;
  left: 0;
  height: 53px;
  width: 838px;
  border-right: 1px solid #676767;
  border-left: 1px solid #676767;
  background: #ebf0ff;
}

#global-nav li{
  display: inline;
  font-size: 16px;
}

#main {
  background-color: green;
}

#footer {
  background-color: gray;
}


